  <div class="title">
    {{title}}
  </div>
  <div>
    <nz-card class="card" [nzBordered]="false" nzTitle="Create a new todoe">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
        <input type="text" style="margin-right: 10px;" nz-input placeholder="what needs to be done?" [(ngModel)]="todo" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="addTodo()">add todo</button>
      </ng-template>
    </nz-card>

    <nz-card class="card" [nzBordered]="false" nzTitle="Todo List">
      <ng-container *ngIf="todoList.length; then thenTemplate; else elseTemplate"></ng-container>
      <ng-template #thenTemplate>
        <nz-list>
          <nz-list-item *ngFor="let item of showList;">
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <nz-tag [nzColor]="item.status ? 'green' : 'magenta'">{{item.todo}}</nz-tag>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <nz-switch [(ngModel)]="item.status" nzCheckedChildren="√" nzUnCheckedChildren="×" (ngModelChange)="switch()"></nz-switch>
              </nz-list-item-action>
              <nz-list-item-action>
                <button nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete?"
                  (nzOnConfirm)="delList(item.id)" nzPopconfirmPlacement="right" nz-button nzType="primary"
                  nzDanger><span nz-icon nzType="close"></span></button>
              </nz-list-item-action>
            </ul>
          </nz-list-item>
        </nz-list>
      </ng-template>
      <ng-template #elseTemplate>
        <div style="color: gainsboro;text-align: center;">There's nothing to do :(</div>
      </ng-template>
      <nz-pagination class="list-pagination" [nzTotal]="todoList.length"
        (nzPageIndexChange)="change($event)"></nz-pagination>
    </nz-card>
  </div>
